# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

# Environment
.env
venv/
.venv/
ENV/
env/

# macOS
.DS_Store

# VS Code / PyCharm / Editor config
.vscode/
.idea/
*.swp

# Logs & temp
*.log
*.bak
*.tmp

# Database files (optional)
*.sqlite3
*.db

# OS metadata
Thumbs.db
desktop.ini
